﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
	<style type="text/css">
		.PageHeader {
			background-color: cadetblue;
			color: whitesmoke;
			font-size: 34pt;
			font-weight: bold;
			border-bottom: black solid thin;
			height: 45px;
			text-align: left;
			padding-top: 10px;
			padding-left: 10px;
		}

		.PageFooter 
		{
			background-color: cadetblue;
			text-align: center;
			border-top: black solid 1px;
		}

		.PageBody {
			height: 530px;
		}
	</style>
</head>

	<body>
		<div class="PageHeader">
			MyCRM
		</div>
		<div class="PageBody">
		@RenderBody()
		</div>
		<div class="PageFooter">
			a Simple CQRS Sample
		</div>
	</body>
</html>
